/* color #669bbc  blue*/
/* color redmarvell rgb(236, 29, 36) */

*{
    font-family: 'Electrolize', sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1, .h2, .h3 , .h4 , .h5 ,.h6{
    font-family: 'Orbitron', sans-serif;
}

:root{
    --colorBlue:rgb(102, 155, 188) ;
    --colorRedMarvel:rgb(236, 29, 36);
}

.text-Blue{
    color: var(--colorBlue);
}
.text-RedMarvel{
    color: var(--colorRedMarvel);
}

/* CSS NAVBAR */

.navbar-custom{
    width: 100%;
    border-bottom:2px solid var(--colorRedMarvel) ;
}

.navbar-bloor{
    backdrop-filter: blur(4px) saturate(0.6);
    background-color: rgb(102, 155, 189,0.6 ) ;
}

.logo-custom{
    height: 40px;
    width: 100px;
}

.border-link{
    border-bottom: 2px solid transparent;
    transform: 0.4s;
}
.border-link:hover{
    border-bottom: 2px solid var(--colorRedMarvel);
}
/* FINE CSS NAVBAR */

/* INIZIO CSS HEADER */

.header-custom{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(255,255,255,0.6)), url(./Media/avengerHeader.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

}

.h1-custom{
    color: white;
    font-size: 80px;
}

.a-custom{
    text-decoration: none;
    color: var(--colorRedMarvel);
}

.arrow-down{
    position: absolute;
    bottom: 40px;
    z-index: 100;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: var(--colorRedMarvel);
    animation-name: arrow-down;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes arrow-down{
    from{ opacity: 0; bottom: 45%;}
    to { opacity: 1; bottom: 20%;}
}

/* fine css header */

/* inizio css main */
.div-border{
    border-left: 2px solid var(--colorRedMarvel);
    padding-left: 10px;
}
.pallino{
    position: relative;
    /* border-left: 2px solid var(--colorRedMarvel); */
    /* padding-left: 5px ; */
    
}
.pallino::before{
    content: '';
    height: 12px;
    width: 12px;
    background-color: var(--colorBlue);
    border: 2px solid var(--colorRedMarvel);
    border-radius: 50%;
    position: absolute;
    top: 26px;
    left: -17px;
}


.btn-outline-custom{
    background-color: transparent;
    border: 3px  double var(--colorRedMarvel);
    color: var(--colorBlue);
    border-radius: 0px;
    padding: 10px;
}

.btn-outline-custom:hover{
    background-color: var(--colorBlue);
    border: 3px solid var(--colorRedMarvel);
    color: white;
}

.img-cube{
    height: 500px;
}

.corousel-custom{
    border: 4px solid var(--colorRedMarvel);
    border-radius: 50%;
}


/* SEZIONE CON VIDEO */
article {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  article video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  article .container {
    position: relative;
    z-index: 2;
  }
  
  article .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    article {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    article video {
      display: none;
    }
  }

/* FINE SEZIONE CON VIDEO */

/* SECTION CARD */
.avenger-custom{
    height: 200px;
    width: 200px;
}
.card-custom{
    height: 40vh;
}
.card-body-custom{
    height: 49vh;
    background-color: var(--colorBlue);
}
.card-body-custom2{
    height: 49vh;
    background-color: rgba(0, 128, 0, 0.7);
}
.card-body-custom3{
    height: 49vh;
    background-color: rgba(128, 0, 128, 0.7) ;
}
/* SECTION CARD FINE */