/* color #669bbc  blue*/
/* color redmarvell rgb(236, 29, 36) */

*{
    font-family: 'Electrolize', sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1, .h2, .h3 , .h4 , .h5 ,.h6{
    font-family: 'Orbitron', sans-serif;
}

:root{
    --colorBlue:rgb(102, 155, 188) ;
    --colorRedMarvel:rgb(236, 29, 36);
}

.text-Blue{
    color: var(--colorBlue);
}
.text-RedMarvel{
    color: var(--colorRedMarvel);
}

/* CSS NAVBAR */

.navbar-custom{
    width: 100%;
}

.navbar-bloor{
    backdrop-filter: blur(4px) saturate(0.6);
    background-color: rgb(102, 155, 189,0.6 ) ;
}

.logo-custom{
    height: 40px;
    width: 100px;
}

.border-link{
    border-bottom: 2px solid transparent;
    transform: 0.4s;
}
.border-link:hover{
    border-bottom: 2px solid var(--colorRedMarvel);
}
/* FINE CSS NAVBAR */

/* INIZIO CSS HEADER */

.header-custom{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(255,255,255,0.6)), url(./Media/avengerHeader.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.h1-custom{
    color: white;
    font-size: 80px;
}

.a-custom{
    text-decoration: none;
    color: var(--colorRedMarvel);
}

.arrow-down{
    position: absolute;
    bottom: 40px;
    z-index: 100;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: var(--colorRedMarvel);
    animation-name: arrow-down;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes arrow-down{
    from{ opacity: 0; bottom: 45%;}
    to { opacity: 1; bottom: 20%;}
}